.inner-carousel{
    display: flex;
    cursor: grab;

}

.carousel{
    overflow: hidden;
}

select {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;  }

select option {
    background-color: #f7f7f7;
    color: rgb(121, 109, 102);
    
  }

  select {
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: 2px solid blue;

  }

 

  select:hover {
    outline: 2px solid rgb(154, 141, 134);
  }