.profile-banner-smal {
    position: relative;
  }
  
  .profile-banner-smal:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: none;
  }
  